*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    height: calc(100vh - 75px);
    width: 90vw;
    margin: 0 auto;
}
.row{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-15{
    height: 100px;
    margin: 10px;
    width: calc(100%/7 - 20px);
    position: relative;
}
.dim-img{
    width: 100%;
    
}
.text{
    color: white;
    background-color: gray;
    position: absolute;
    top: 80px;
}

/* footer */
.container-footer{
    justify-content: space-between;
    height: 75px;
    background-color: rgb(114, 114, 114);
    display: flex;
}
.row-left-footer{
    height: 100%;
    padding: 10px;
    color: white;
    background-color: rgb(114, 114, 114);
    display: flex;
}
.row-center-footer{
    height: 100%;
    padding: 10px;
    color: white;
    display: flex;
    text-align: center;
    background-color: rgb(114, 114, 114);
}
.row-right-footer{
    height: 100%;
    padding: 10px;
    color: red;
    background-color: rgb(145, 144, 144);
}
.img-footer{
    height: 30px;
    width: 40px;
    
}
.second-img-footer{
    padding-left: 50px;
}
.position-left{
    position: absolute;
    left: 80px;
}
.padding-left{
    padding-left: 30px;
}
.padding-top{
    padding-top: 15px;
}
